
body {
    background: url('space.jpg');
    color: rgb(0,0,0);
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
    margin-top: 5px;
	//font-style: italic;
	font-size: 12px;
}

