
body {
    background: url('space.jpg');
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    color: rgb(255,255,255);
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
    margin-top: 5px;
	//font-style: italic;
	font-size: 12px;
}

